/* Mulish font for page  */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap");

/* common shared styles starts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1170px;
  margin: 0 auto;
  font-family: "Mulish", sans-serif;
}

/* primary color which is used in multiple times */
:root {
  --primary-color: #ff5400;
}

/* common heading h1  */
h1 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
}
/* common paragraph p  */
p {
  color: #5a5a5d;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
/* common section---every sections has bottom 100px margin */
section {
  margin-bottom: 100px;
}
/* common button  */

button {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  font-size: 20px;
  color: #fff;
  border: none;
  background: var(--primary-color);
  margin: 24px 0px;
}
/* common shared styles ends */

/* nav styles starts  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px;
}
.navbar .nav-logo {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-logo .left-side {
  display: flex;
  gap: 16px;
  align-items: center;
}
.navbar .nav-logo .left-side h3 {
  font-size: 36px;
  font-weight: 800;
}
.navbar .nav-logo .left-side h3 span {
  color: var(--primary-color);
}
.navbar .nav-logo .mobile-menu-bar {
  display: none;
}
.navbar .nav-items {
  width: 50%;
}
.nav-items ul {
  display: flex;
  justify-content: space-between;
  color: #424247;
  font-size: 18px;
  font-weight: 400;
}
.nav-items ul li {
  list-style: none;
}
.nav-items ul li a {
  text-decoration: none;
}
.nav-items ul li a span {
  color: var(--primary-color);
}
/* nav styles ends */

/* explore section styles starts */
.explore-section {
  height: 500px;
  margin-top: 50px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../images/Group\ 13\ \(1\)\ \(1\).png") no-repeat center center / cover;

  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.explore-section h3 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 24px;
}
.explore-section p {
  color: #fff;
}
.explore-section .search-boxes {
  display: inline-flex;
  padding: 16px;
  font-size: 16px;
  /* align-items: flex-start; */
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  gap: 24px;
  margin-top: 48px;
}
.explore-section .search-boxes .box {
  width: 174px;
  height: 52px;
  padding: 16px;
  font-size: 16px;
  border-radius: 8px;
  background: #fff;
  border: none;
  overflow: hidden;
  text-align: right;
}
.explore-section .search-boxes button {
  margin: 0;
}
.explore-section .search-boxes input {
  border: none;
}
.explore-section .search-boxes select {
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

/* explore section styles ends */

/* popular tours styles starts  */
.popular-tours {
  height: 550px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.popular-tours .tour-details :not(:last-child) {
  margin-bottom: 15px;
}
.popular-tours .tour-details ul {
  padding: 25px;
}
.popular-tours .tour-details button {
  margin: 0;
}
.popular-tours .tour-image {
  width: 100%;
}
/* popular tours styles ends */
